fastapi[all]
opencv-python-headless==5.0.0.93
# opencv-contrib-python-headless==4.10.0.84
torch==2.13.0
google-genai==2.14.0
ultralytics==8.4.117
paddlepaddle==3.2.0
paddleocr==3.7.0
python-multipart==0.0.32
mrz==0.6.2
zxing-cpp==3.1.1